{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IELTScourse</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <div class="intro">
        <div class="intro_text">
            <h1>Онлайн школа</h1>
            <h2>IELTSCOURSE</h2>
            <p class="p1">Готовимся к экзамену IELTS вместе с нами!</p>
            <p class="p2">Новый набор с 15 мая</p>
        </div>
        <div class="intro_photo_links">
            <div class="intro_photo">
            <img class="photo_learning" src="{% static 'core/learning.jpg' %}" alt="The woman is learning online and smiling">
            </div>
            <div class="intro_links">
            <a class="link" href="admin/" target="_blank">I'm an admin!</a>
            <a class="link" href="ielts/students/" target="_blank">I'm a student!</a>
            </div>
        </div>       
    </div>

    <div class="group_sessions">
        <div class="title">
            <h1>Что ожидать от курса?</h1>
        </div>

        <div class="session_types">
            <div class="sessions">
                <h3>IELTS Reading</h3>
                <p>Мы разберем стандартные виды заданий и стратегии к ним.</p>
            </div>

            <div class="sessions">
                <h3>IELTS Listening</h3>
                <p>Мы изучим стандартные вопросы и разберём стратегии к ним.</p>
            </div>

            <div class="sessions">
                <h3>IELTS Speaking</h3>
                <p>Вас ждут индивидуальные спикинг сессии с экзаменаторами в формате экзамена.</p>
            </div>

            <div class="sessions">
                <h3>IELTS Writing</h3>
                <p>Мы изучим основные виды эссе, графов или писем, а также их структуру.</p>
            </div>
        </div>

        <div class="link2">
            <a href="ielts/group_sessions/" target="_blank">Больше о group sessions</a>
            <a href="#">Вверх</a>
        </div>       
    </div>

    <div class="staff">
        <div class="teachers">
            <h3 class="staff_headings">Наши преподаватели</h3>
            <ul>
                <li>Минимальный балл IELTS 8.0</li>
                <li>Oпыт работы в англоязычных странах</li>
                <li>Опыт преподавания более 7 лет у каждого</li>
                <li><a href="ielts/teachers" class="link3" target="_blank">Узнать больше</a></li>
            </ul>
            
        </div>

        <div class="curators">
            <h3 class="staff_headings">Наши кураторы</h3>
            <ul>
                <li>На связи 24/7</li>
                <li>Всегда поддержат и проконсультируют</li>
                <li>Сделают все, чтобы вы точно добились цели</li>
                <li><a href="ielts/curators" class="link3" target="_blank">Узнать больше</a></li>
            </ul>
        </div>

        <a href="#" class="link3">Вверх</a>
    </div>
    
</body>
</html>