{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IELTScourse</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <div class="intro">
        <div class="intro_text">
            <h1>Онлайн школа</h1>
            <h2>IELTSCOURSE</h2>
            <p class="p1">Готовимся к экзамену IELTS вместе с нами!</p>
            <p class="p2">Новый набор с 15 мая</p>
        </div>
        <div class="intro_photo_links">
            <div class="intro_photo">
            <img class="photo_learning" src="{% static 'core/learning.jpg' %}" alt="The woman is learning online and smiling">
            </div>
            <div class="intro_links">
            <a class="link" href="admin/" target="_blank">I'm an admin!</a>
            <a class="link" href="ielts/students/" target="_blank">I'm a student!</a>
            </div>
        </div>       
    </div>
    
</body>
</html>